<table class="table table-hover video-list mx-auto">
  <tr *ngFor="let video of service.videoList">
    <td class="container-fluid d-flex video-container">
        <a data-fancybox="gallery" href="https://www.youtube.com/watch?v={{video.id}}">
          <img class="video-thumbnail" [src]="video.thumbnail">
        </a>      
      <div class="d-flex flex-wrap video-info bg-light align-content-between w-100">
        <div class="d-flex justify-content-between w-100 m-2">
          <span class="title">{{video.title}}</span>
          <button class="icon remove btn" (click)="removeVideo(video.id)">
            <img src="../../../assets/img/x-button.svg" alt="">
          </button>
        </div>
        <div class="d-flex justify-content-between w-100 m-2">
          <span class="load-date">{{datepipe.transform(video.posted_date, 'yyyy-MM-dd')}}</span>

          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">&#9733;</span>
          </ng-template>

          <ngb-rating class="rating_panel" [(rate)]="video.grade" [max]=5 [starTemplate]="t"></ngb-rating>
        </div>
      </div>
    </td>
  </tr>
</table>