$btn-remove-size: 60px;
$video-box-size: 300px;
$shift-on-hover: 1px;

button.remove {
    padding: 0;
    box-shadow: none;
    width: $btn-remove-size;
    height: $btn-remove-size;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        right: -$shift-on-hover;
        bottom: -$shift-on-hover;
    }
}

.video-thumbnail {
    background-color: #989898;
    width: $video-box-size;
    &:hover {
        opacity: 0.5;
    }
}

.video-container {
    height: $video-box-size;
}

.video-info {
    min-width: 300px;
}

.video-list {
    max-width: 1000px;
}