<div class="modal-header">
  <h4 class="modal-title">Добавление ролика</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">&times;</button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="url">Ссылка</label>
        <input type="text" formControlName="url" class="form-control" (input)="tryGetVideo()" ngbAutofocus required />
      </div>
      <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" formControlName="title" (input)="video.title=$event.target.value" class="form-control">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">
      Добавить
    </button>
  </div>
</form>